div.auth-form {
    width: 60rem;

    border: 1px solid #434343;
    border-radius: 15px;

    margin: 5px auto;
    padding: 5px 10px 2px 10px;
}

div.auth-form.error {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

p.form-label {
    font-size: 3rem;
    margin: 10px 10px;
}

form.auth-form {
    padding: 10px 5px 0 5px;
}

label, input {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

td.form-label {
    width: 30%;
}

input {
    width: 100%;
}

form {
    text-align: start;
}

button.button-submit, button.button-reset, a.button-register {
    height: 50px;
    margin: 0 20px;

    border-radius: 15px;
    border: 1px solid #434343;

    display: inline-block;
    text-align: center;

    cursor: pointer;
}

button.button-submit:hover, button.button-reset:hover, a.button-register:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

button.button-submit {
    float: left;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

button.button-reset {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    float: right;
}

a.button-register {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

p.button-text {
    margin: 5px 10px;
    font-size: 2rem;

    cursor: pointer;
}

div.success {
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

div.failure {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

div.progress p {
    font-size: 2rem;
    margin: 2px 5px;
}